1. 데이터 준비

In [2]:
import pandas as pd
lemonade = pd.read_csv("https://raw.githubusercontent.com/blackdew/tensorflow1/master/csv/lemonade.csv")
independent = lemonade[['온도']]
dependent = lemonade[['판매량']]
print(independent.shape, dependent.shape)

(6, 1) (6, 1)

In [10]:
independent

   온도
0  20
1  21
2  22
3  23
4  24
5  25

2. 모델 구조 생성(Neural Net방식)

In [11]:
dependent

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [12]:
import tensorflow as tf
x = tf.keras.layers.Input(shape=[1])
y = tf.keras.layers.Dense(1)(x)
model = tf.keras.models.Model(x, y)
model.compile(loss='mse')

3. 데이터 학습(fit)

In [14]:
model.fit(independent, dependent, epochs=10000, verbose=0) # verbose : 화면 출력x

4. 모델 사용

In [15]:
model.predict(independent)

array([[40.028034],
       [42.02185 ],
       [44.015667],
       [46.009483],
       [48.0033  ],
       [49.997112]], dtype=float32)

In [16]:
dependent

   판매량
0   40
1   42
2   44
3   46
4   48
5   50

In [17]:
model.predict([[15]])

array([[30.058954]], dtype=float32)